{% extends "baseGeneric.html" %} {% block title %}
    <title>URL Shortener - All the Shortened</title>
{% endblock %} {% block maincontent %}
    <div class="container">
        <header style="padding: 100px 2rem">
            <h1>URLs in Database</h1>
            <a href="/">Generate a new short URL</a>
            <br/>
            <table class="url-list">
                <tr style="font-weight: bold">
                    <th>Long URL</th>
                    <th>Short URL</th>
                    <th>Created at</th>
                    <th>Duration</th>
                </tr>
                {% for data in alldata %}
                    <tr class="url-box">
                        <td class="url-box-long"><a href="{{ data.long_url }}">{{ data.long_url }}</a></td>
                        <td class="url-box-short"><a href="/{{ data.shortform }}">/{{ data.shortform }}</a></td>
                        <td class="url-box-created">{{ data.created }}</td>
                        <td class="url-box-duration">
                            {% if data.duration is '0' %}
                            +Forever
                            {% else %}
                            +{{ data.duration }} Hours
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </header>
    </div>
{% endblock %}
