{% extends "baseGeneric.html" %} {% block title %}
    <title>URL Shortener - All the Shortened</title>
{% endblock %} {% block maincontent %}
    <div class="container">
        <header style="padding: 100px 2rem">
            <h1>URLs in Database</h1>
            <a href="/">Generate a new short URL</a>
            <br/>
            <div class="table">
                <span><strong>Long form</strong></span>
                <span><strong>Short form</strong></span>
                <span>Created</span>
                <span>Duration</span>
                {% for data in alldata %}
                    <span><a href="{{ data.long_url }}">{{ data.long_url }}</a></span>
                    <span><a href="/{{ data.shortform }}">/{{ data.shortform }}</a></span>
                    <span>{{ data.created }}</span>
                    <span>
                        {% if data.duration is '0' %}
                            Forever
                        {% else %}
                            {{ data.duration }} Hrs
                        {% endif %}
                    </span>
                {% endfor %}
            </div>
        </header>
    </div>
{% endblock %}
