* {
  box-sizing: border-box;
}

:root {
  --primary: #fa983a;
  --primary-dark: #eb2f06;
  --secondary: #0a3d62;
  --secondary-dark: #079992;
}

body {
  background-color: #dfe6e9;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

a {
  color: currentColor;
}

a:hover,
a:focus {
  color: currentColor;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.hero {
  color: #ffffff;
  height: 100vh;
  background-color: var(--secondary);
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%230c2461' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.url-form {
  text-align: center;
  margin-top: 3rem;
}

input[type="url"] {
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  width: 100%;
  height: 40px;
}

.url-input {
  max-width: 600px;
}

select {
  width: 150px;
  height: 40px;
  font-size: 1.5rem;
  outline: none;
}

.url-submit {
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin: 1rem;
  font-size: 1.5rem;
  line-height: 1.25;
  color: #fff;
  background: var(--primary);
  cursor: pointer;
  width: 128px;
}

.short-url {
  margin-top: 2rem;
}

.messages {
  margin-top: 1rem;
}

.message-error {
  color: #f00;
}

.message-warning {
  color: #ff7800;
}

section {
  padding: 200px 2rem;
}

table, th, td {
  border: 1px solid black;
}

.url-list {
  margin-top: 2rem;
  width: 100%;
  max-width: 100%;
  text-align: left;
  overflow-x: scroll;
}

th, td {
  padding: 1rem;
}

.url-box td {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.url-box-long {
  width: 300px;
}

.url-box-short {
  width: 200px;
}

.url-box-created {
  width: 160px;
}

.url-box-duration {
  width: 100px;
}